/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require bootstrap
 *= require_tree .
 */


html, body { height: 100%; }

body{ background: #37b699; }

h1, h2, h3, h4, h5, p{
	font-family: helvetica;
}

h3 { line-height: 25px !important; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
.uneditable-input {
	height: 25px;
	line-height: 25px;
	border: 2px solid #dedede !important;
	box-shadow: none !important;

	&:focus {
		border-color: #37B699 !important;
  	box-shadow: none !important;
  	outline: none !important;
	}
}

input[type="submit"] {
  box-shadow: none !important;
	outline: none !important;
}

label {
	font-size: 13px !important;
	color: #777;
}

.main-container{
	min-height: 100%;
	margin: 0 0 0 150px;
	background-color: #F3F2EE;
	padding: 20px 35px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 25px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 25px 5px;
}

.full-container{
	height: 100%;
	width: 98%;
	background-color: #F5F5F5;
	padding: 20px;
}

.right-container {
	width: 610px;
	height: 100%;
	background-color: #F3F2EE;
	float: right;
	-webkit-box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 25px 5px;
  box-shadow: rgba(0, 0, 0, 0.10) 2px 2px 25px 5px;
  position: fixed;
  top: 0;
  right: 0;
}

.logo-container{
	margin: 20px 0px 30px 0px;
}

.art-container {
	position: fixed;
	right: 40px;
	bottom: 160px;
	img { width: 530px; }
}

#notice{
	color: #444;
}

.stats{
	color: #777;
}

.field_with_errors{
	background-color: #F5F5F5 !important;
}

.field_with_errors input{
	background-color: #FFE8E8;
}

.field_with_errors label{
	font-weight: bold;
}

.form {
	width: 450px;
	input, textarea { width: 435px; }
	select { width: 450px; }

	.field-date {
		select { width: 147px; }
	}
}

.text-red { color: #B84E4C; }

.text-center { text-align: center; }
.text-right { text-align: right; }